# -*- coding: utf-8 -*-
"""
Created on Sat Jun 22 21:53:12 2019

@author: jacks
"""
<html>
   <body>
   Upload TMs here
      <form action = "http://localhost:5000/uploader" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "UPLOADdocx" />
             Upload excel template from JLLIs here 
            <form action = "http://localhost:5000/uploader2" method = "POST" 
         enctype = "multipart/form-data">
         <input type = "file" name = "UPLOADxlsx" />
         <input type = "submit"/>
      </form>
   </body>
</html>